- hosts: gluster-ctdb-samba
  vars:
    lvm_pvs:
      - /dev/sdb1
      - /dev/sdc1
    lvm_vg_name: gluster
    lvm_lv_name: brick
    lvm_lv_size: 100%FREE
    gluster_brick_name: brick1
    gluster_fuse_mount: /srv
    gluster_volume_mount: /mnt
    gluster_volume_name: backups
    ctdb_public_address_w_mask: 192.168.1.40/24
    ctdb_interface: eth0
    samba_path: /samba
    samba_share_name: backups
    samba_server_name: NODE
    samba_users:
      - name: bob
        password: bobspassword
    samba_workgroup: WORKGROUP
roles:
  - role: gluster-ctdb-samba-ansible
